.advantages {
  background-color: #ffffff;
}

.advantages__title {
  margin: 0;
  margin-bottom: 28px;
  margin-left: 2px;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  font-family: $font-secondary;
  color: $color-jade;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  list-style: none;
}

.advantages__item {
  position: relative;
  width: 100%;
  min-height: 60px;
  margin-bottom: 20px;
  padding-left: 80px;
  font-size: 14px;
  line-height: 18px;
  font-family: $font-primary;
  color: $color-content;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 60px;
    height: 60px;
    background-color: $color-salad;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px 50px;
  }

  &--health::before {
    background-image: url("../img/advantage-leaf@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-leaf@2x.png");
    }
  }

  &--powder::before {
    background-image: url("../img/advantage-powder@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-powder@2x.png");
    }
  }

  &--change::before {
    background-image: url("../img/advantage-dining@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-dining@2x.png");
    }
  }

  &--time::before {
    background-image: url("../img/advantage-clock@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-clock@2x.png");
    }
  }
}

@media (min-width: $breakpoint-tablet) {
  .advantages {
    border-bottom: 1px solid #e6e6e6;
  }

  .advantages__title {
    margin-bottom: 75px;
    font-size: 60px;
    line-height: 60px;
  }

  .advantages__list {
    min-height: 605px;
    margin: 0;
  }

  .advantages__item {
    width: 354px;
    min-height: 315px;
    margin: 0;
    margin-right: 30px;
    padding-top: 111px;
    padding-right: 105px;
    padding-left: 0;
    font-size: 16px;
    line-height: 24px;
    counter-increment: advantageCounter;

    &:nth-child(2n) {
      width: 324px;
      margin-right: 0;
    }

    &:nth-child(3) {
      min-height: 290px;
    }

    &:nth-child(4) {
      min-height: 290px;
    }

    &::before {
      width: 80px;
      height: 80px;
    }

    &::after {
      content: counter(advantageCounter);
      position: absolute;
      top: -40px;
      left: 120px;
      z-index: 1;
      font-size: 280px;
      line-height: 280px;
      font-family: $font-secondary;
      vertical-align: top;
      color: $color-stone;
    }
  }

  .advantages__content {
    position: relative;
    z-index: 2;
  }
}

@media (min-width: $breakpoint-desktop) {
  .advantages {
    margin-bottom: 60px;
    border-bottom: none;
  }

  .advantages__list {
    min-height: 230px;
  }

  .advantages__item {
    width: 245px;
    min-height: 230px;
    margin-right: 80px;
    margin-bottom: 20px;
    padding-right: 0;

    &:nth-child(2n) {
      width: 245px;
      margin-right: 80px;
    }

    &:nth-child(3) {
      min-height: 230px;
    }

    &:nth-child(4) {
      min-height: 230px;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
