.advantages {
  background-color: #ffffff;
}

.advantages__title {
  margin: 0;
  margin-bottom: 12px;
  margin-left: 2px;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  font-family: $font-secondary;
  color: $color-jade;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  list-style: none;
}

.advantages__item {
  position: relative;
  width: 100%;
  min-height: 60px;
  margin-bottom: 20px;
  padding-left: 80px;
  font-size: 14px;
  line-height: 18px;
  font-family: $font-primary;
  color: $color-content;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 60px;
    height: 60px;
    background-color: $color-salad;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--health::before {
    background-image: url("../img/advantage-leaf@1x.png");
  }

  &--powder::before {
    background-image: url("../img/advantage-powder@1x.png");
  }

  &--change::before {
    background-image: url("../img/advantage-dining@1x.png");
  }

  &--time::before {
    background-image: url("../img/advantage-clock@1x.png");
  }
}
