.button {
  display: inline-block;
  padding: 10px 27px;
  font-size: 14px;
  line-height: 18px;
  font-family: $font-secondary;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  transition: 0.3s ease;
}

.button--primary {
  background-color: $color-salad;

  &:hover,
  &:focus {
    background-color: #5eaa2f;
  }

  &:active {
    color: #99c684;
    background-color: #5eaa2f;
  }
}

.button--secondary {
  color: $color-content;
  background-color: $color-stone;

  &:hover,
  &:focus {
    background-color: #ebebeb;
  }

  &:active {
    color: #b9b9b9;
  }
}

@media (min-width: $breakpoint-tablet) {
  .button {
    padding-top: 17px;
    padding-bottom: 15px;
    font-size: 20px;
    line-height: 20px;
  }
}
