.catalog {
  background-color: #ffffff;
}

.catalog__title {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  font-family: $font-secondary;
  text-align: center;
  color: $color-jade;
  font-style: normal;
  border-bottom: 1px solid #ededed;
}

.catalog__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 103px;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog__item {
  margin: 0;
  list-style: none;
}

.catalog__show-more {
  margin: 0;
}

@media (min-width: $breakpoint-tablet) {
  .catalog {
    padding-top: 65px;
  }

  .catalog__title {
    font-size: 60px;
    border: none;
  }

  .catalog__container {
    justify-content: flex-start;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    width: $content-tablet;
    margin: 0 auto;
  }

  .catalog__item {
    width: 324px;
    min-height: 572px;
    margin-right: 60px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  .catalog {
    padding-top: 194px;
  }

  .catalog__list {
    width: $content-desktop;
  }

  .catalog__item {
    width: 245px;
    margin-right: 80px;

    &:nth-child(2n) {
      margin-right: 80px;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
