.categories {
  color: $color-content;
  background-color: #ffffff;
}

.categories__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.categories__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  padding-top: 30px;
  background-color: $color-stone;
}

.categories__title {
  position: relative;
  margin: 0;
  margin-bottom: 31px;
  padding-left: 70px;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  font-family: $font-secondary;
  color: $color-jade;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 50px;
    height: 50px;
    background-color: $color-salad;
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
  }
}

.categories__title--slim::after {
  top: -5px;
  left: 5px;
  background-image: url("../img/icon-cat-slim.svg");
}

.categories__title--gain::after {
  top: 10px;
  left: -10px;
  width: 70px;
  background-image: url("../img/icon-cat-pro.svg");
}

.categories__description {
  margin: 0;
  margin-bottom: 20px;
  padding-bottom: 20px;
  font-size: 14px;
  line-height: 18px;
  font-family: $font-primary;
  border-bottom: 1px solid #d9d9d9;
}

.categories__link {
  position: relative;
  padding-right: 35px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  font-family: $font-secondary;
  color: $color-jade;
  text-transform: uppercase;
  font-style: normal;
  transition: 0.3s ease;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 16px;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &:hover,
  &:focus {
    padding-right: 58px;

    &::before {
      width: 32px;
      background-image: url("../img/icon-right-arrow-verylong.svg");
    }
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $breakpoint-tablet) {
  .categories__list {
    margin-bottom: 25px;
  }

  .categories__item {
    min-height: 375px;
    margin-bottom: 30px;
    padding-top: 80px;
    padding-right: 315px;
    padding-bottom: 60px;
    padding-left: 50px;
  }

  .categories__title {
    padding: 0;
    font-size: 36px;
    line-height: 37px;

    &::before {
      top: 10px;
      left: 400px;
      width: 200px;
      height: 200px;
    }

    &::after {
      width: 200px;
      height: 200px;
    }
  }

  .categories__title--slim::after {
    top: 0;
    left: 430px;
  }

  .categories__title--gain::after {
    top: 55px;
    left: 350px;
    width: 270px;
  }

  .categories__description {
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    border: none;
  }

  .categories__link {
    font-size: 20px;
    line-height: 20px;

    &::before {
      height: 20px;
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  .categories__list {
    justify-content: space-between;
  }

  .categories__item {
    width: 570px;
    padding-right: 50px;
  }

  .categories__title {
    padding-left: 165px;

    &::before {
      top: -32px;
      left: 0;
      width: 100px;
      height: 100px;
    }

    &::after {
      width: 100px;
      height: 100px;
    }
  }

  .categories__title--slim::after {
    top: -40px;
    left: 10px;
  }

  .categories__title--gain::after {
    top: -12px;
    left: -17px;
    width: 135px;
  }
}
