.extra-products {
  background-color: #ffffff;
}

.extra-products__container {
  display: flex;
  flex-direction: column;
}

.extra-products__title {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  min-height: 87px;
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  font-family: $font-secondary;
  font-style: normal;
  border-bottom: 1px solid #cdcdcd;

  &::before {
    content: "";
    position: absolute;
    top: 45px;
    left: calc(100% - 33px);
    display: block;
    width: calc(50vw - 116px);
    min-width: 53px;
    height: 3px;
    background-color: $color-salad;
  }
}

.extra-products__list {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
}

.extra-products__item {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 17px;
  border-bottom: 1px solid #cdcdcd;
}

.extra-products__name {
  width: 100%;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 2px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  font-family: $font-secondary;
  color: $color-jade;
  text-transform: uppercase;
  font-style: normal;
}

.extra-products__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

.extra-products__prop {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: $color-content;
  font-style: normal;
}

.extra-products__link {
  width: 100%;
}

.extra-products__promo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 280px;
  min-height: 289px;
  margin: 0;
  padding-top: 185px;
  padding-right: 55px;
  padding-left: 55px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  font-style: normal;
  background-color: $color-salad;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }

  &::before {
    content: "";
    position: absolute;
    top: 65px;
    left: 50%;
    display: block;
    width: 56px;
    height: 60px;
    margin-bottom: 60px;
    text-align: center;
    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
    transform: translate(-50%);
  }
}

.extra-products__promo br {
  display: none;
}

@media (min-width: $breakpoint-tablet) {
  .extra-products {
    margin-bottom: 76px;
  }

  .extra-products__title {
    align-items: flex-start;
    min-height: 182px;
    padding-top: 65px;
    padding-left: 35px;
    font-size: 36px;
    line-height: 36px;

    &::before {
      top: 87px;
      left: calc(100% - 273px);
      width: calc(50vw - 90px);
      min-width: 290px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 87px;
      right: 100%;
      display: block;
      width: calc(50vw - 90px);
      min-width: 53px;
      height: 3px;
      background-color: $color-salad;
    }
  }

  .extra-products__list {
    margin-bottom: 63px;
  }

  .extra-products__item {
    justify-content: space-between;
    padding: 26px 38px;
    border-right: 1px solid #cdcdcd;
    border-left: 1px solid #cdcdcd;
  }

  .extra-products__name {
    display: inline;
    width: auto;
    margin: 0;
    margin-bottom: 27px;
    font-size: 20px;
    line-height: 20px;
  }

  .extra-products__wrapper {
    width: auto;
    margin: 0;
    margin-bottom: 27px;
  }

  .extra-products__prop {
    font-size: 16px;
    line-height: 20px;

    &:nth-child(2n) {
      width: 95px;
      text-align: right;
    }
  }

  .extra-products__link {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
  }

  .extra-products__promo {
    width: 100%;
    min-height: 200px;
    padding: 0;
    padding-right: 120px;
    padding-left: 425px;
    text-align: left;
    background-image: url("../img/gift-photo-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }

    &::before {
      top: 50%;
      left: 94px;
      transform: translateY(-50%);
    }
  }

  .extra-products__promo br {
    display: inherit;
  }
}

@media (min-width: $breakpoint-desktop) {
  .extra-products {
    margin-bottom: 87px;
  }

  .extra-products__container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .extra-products__title {
    width: 100%;
    min-height: 192px;
    padding-top: 73px;
    padding-left: 0;
    border: none;

    &::before {
      top: 96px;
      left: calc(100% - 700px);
      width: calc(50vw + 80px);
      min-width: 722px;
    }

    &::after {
      top: 96px;
      right: calc(100% + 40px);
    }
  }

  .extra-products__list {
    width: 895px;
    margin-right: 80px;
    margin-bottom: 0;
  }

  .extra-products__item {
    justify-content: flex-start;
    align-items: center;
    height: 72px;
    padding: 0;
    border-right: none;
    border-left: none;

    &:first-child {
      border-top: 1px solid #cdcdcd;
    }
  }

  .extra-products__name {
    width: 245px;
    margin: 0;
    margin-right: 80px;
  }

  .extra-products__prop {
    &:nth-child(2n) {
      width: 40px;
      text-align: left;
      letter-spacing: -0.5px;
    }

    &:first-child {
      width: 245px;
    }
  }

  .extra-products__wrapper {
    max-width: 285px;
    margin: 0;
    margin-right: 40px;
  }

  .extra-products__link {
    width: 245px;
  }

  .extra-products__promo {
    width: 245px;
    min-width: auto;
    min-height: auto;
    padding: 0;
    padding-top: 150px;
    padding-right: 42px;
    padding-left: 42px;
    text-align: center;
    background-image: url("../img/gift-photo-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }

    &::before {
      top: 62px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
