.info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 20px;
  background-color: $color-stone;
}

.info__logo {
  width: 128px;
  height: auto;
  min-height: 24px;
  margin: 0;
  margin-bottom: 25px;
}

.info__social {
  margin: 0;
  margin-bottom: 25px;
}

.info__copyright {
  margin: 0;
}

@media (min-width: $breakpoint-tablet) {
  .info {
    flex-direction: row;
    justify-content: space-between;
    min-height: 150px;
    padding-bottom: 0;
  }

  .info__logo {
    margin: 0;
    margin-right: auto;
  }

  .info__social {
    margin: 0;
    margin-right: auto;
  }
}
