.inquiry {
  padding-top: 20px;
  padding-bottom: 35px;
  background-color: #ffffff;
}

.inquiry__title {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  font-family: $font-secondary;
  color: $color-jade;
  font-style: normal;
}

.inquiry__caption {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: $font-secondary;
  color: $color-jade;
  text-transform: uppercase;
  font-style: normal;
}

.inquiry__form {
  margin: 0;
}

.inquiry__fieldgroup {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-top: 20px;
  border-bottom: 1px solid #ededed;

  &--no-border {
    border: none;
  }
}

.inquiry__container {
  display: flex;
  flex-wrap: wrap;
}

.inquiry__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 13px;
}

.inquiry__fieldgroup-title {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  font-family: $font-secondary;
  color: $color-jade;
  font-style: normal;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: calc(100% - 33px);
    display: block;
    width: calc(50vw - 116px);
    min-width: 53px;
    height: 3px;
    background-color: $color-salad;
  }
}

.inqury__button {
  width: 100%;
}

@media (min-width: $breakpoint-tablet) {
  .inquiry {
    padding-bottom: 70px;
  }

  .inquiry__title {
    margin-bottom: 57px;
    font-size: 60px;
  }

  .inquiry__caption {
    display: block;
    width: 400px;
    margin-bottom: 50px;
    padding-right: 0;
    padding-left: 40px;
    font-size: 20px;
    line-height: 20px;
  }

  .inquiry__fieldgroup {
    margin-bottom: 50px;
    border: none;

    &--additional {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 20px;
    }
  }

  .inquiry__container {
    padding-right: 40px;
    padding-left: 40px;
  }

  .inqury__goal {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    min-height: 195px;
    padding: 25px;
    border: 1px solid #e6e6e6;
  }

  .inquiry__wrapper {
    margin-bottom: 20px;

    &--goal {
      margin-bottom: 0;
    }

    &--additional {
      width: 50%;
      margin-bottom: 30px;
    }
  }

  .inquiry__fieldgroup-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 36px;

    &::before {
      top: 50%;
      left: calc(100% - 73px);
      width: calc(50vw - 250px);
      min-width: 103px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: calc(100% + 30px);
      display: block;
      width: 50vw;
      min-width: 53px;
      height: 3px;
      background-color: $color-salad;
    }
  }

  .inqury__button {
    width: 283px;
    margin-right: 80px;
  }
}

@media (min-width: $breakpoint-desktop) {
  .inquiry {
    padding-top: 194px;
  }

  .inquiry__container {
    padding-right: 0;
    padding-left: 0;

    &--common-info {
      padding: 0;
    }
  }

  .inquiry__caption {
    padding: 0;
  }

  .inquiry__common-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: $content-desktop;
    margin: 0 auto;
  }

  .inquiry__fieldgroup--common-info {
    width: 570px;
  }

  .inquiry__fieldgroup--comment {
    width: 100%;
  }

  .inquiry__fieldgroup--additional {
    width: 100%;
  }

  .inquiry__fieldgroup-title {
    &::before {
      left: calc(100% - 573px);
      width: calc(50vw - 47px);
      min-width: 605px;
    }
  }

  .inquiry__wrapper--contacts {
    width: 570px;
    margin-right: 80px;

    &:nth-child(2n-1) {
      margin-right: 0;
    }
  }

  .inquiry__wrapper--additional {
    width: 245px;
    margin-right: 80px;

    &:nth-child(5n) {
      margin-right: 0;
    }
  }

  .inqury__button {
    width: 570px;
    margin-right: 80px;
  }
}
