.page-header {
  display: flex;
  flex-wrap: wrap;
  min-width: 320px;
  min-height: 65px;
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 11px;
  padding-bottom: 16px;
  font-family: $secondary-font;
  background: #ffffff;
}

.page-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.page-header__logo-main {
  margin-right: auto;
}

.page-header__button {
  position: relative;
  width: 24px;
  height: 18px;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;

  &--open {
    border-top: 2px solid $color-jade;
    border-bottom: 2px solid $color-jade;

    &::before {
      content: "";
      position: absolute;
      top: 6px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $color-jade;
    }
  }
}
