.product {
  padding-bottom: 24px;
  background-color: #ffffff;
  border-bottom: 1px solid #ededed;
}

.product__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.product__image {
  flex-grow: 1;
  width: 140px;
  height: auto;
}

.product__wrapper {
  width: 140px;
  margin: 0;
}

.product__name {
  display: block;
  width: 75px;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 14px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: $font-secondary;
  color: $color-jade;
  text-transform: uppercase;
  transition: all 0.3s ease;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.product__name br {
  display: none;
}

.product__props {
  display: block;
  margin: 0;
  padding: 0;
}

.product__description {
  display: block;
  margin: 0;
  padding: 0;
}

.product__row {
  display: flex;
  justify-content: space-between;
}

.product__prop-name {
  display: inline;
  padding: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  font-family: $font-primary;
  font-style: normal;
}

.product__prop-value {
  display: inline;
  padding: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  font-family: $font-primary;
  font-style: normal;
}

.product__order {
  width: 100%;
}

@media (min-width: $breakpoint-tablet) {
  .product {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 47px;
    background-image: linear-gradient(to bottom, #ffffff 24%, $color-stone 24%, $color-stone 100%);
    border: none;
  }

  .product__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: auto;
    margin: 0;
    padding: 0;
  }

  .product__image {
    flex-grow: 0;
    width: 324px;
    margin-bottom: 35px;
  }

  .product__wrapper {
    width: 100%;
    margin-bottom: 33px;
    padding-right: 38px;
    padding-left: 38px;
  }

  .product__name {
    width: 100%;
    margin: 0;
    margin-bottom: 18px;
    font-size: 20px;
    text-align: center;
  }

  .product__name br {
    display: inherit;
  }

  .product__description {
    display: flex;
    flex-direction: column;
  }

  .product__row {
    align-items: center;
    min-height: 32px;
    border-bottom: 1px solid #cdcdcd;
  }

  .product__prop-name,
  .product__prop-value {
    font-size: 16px;
  }

  .product__order {
    width: 249px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
  }
}

@media (min-width: $breakpoint-desktop) {
  .product__image {
    width: 245px;
  }

  .product__order {
    width: 169px;
  }
}
