.result {
  background-color: $color-stone;
}

.result__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.result__wrapper--text {
  margin-bottom: 26px;
}

.result__title {
  margin: 0;
  margin-bottom: 22px;
  margin-left: 2px;
  padding-top: 20px;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  font-family: $font-secondary;
  color: $color-jade;
}

.result__description {
  width: 100%;
  margin: 0;
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 18px;
  font-family: $font-primary;
  color: $color-content;
}

.result__data {
  display: block;
}

.result__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.result__row {
  position: relative;
  display: block;

  &--framed {
    width: calc(50% - 16px);
    height: 56px;
    border: 1px solid #cdcdcd;
    border-bottom: none;
    border-radius: 5px;

    &::before {
      left: 2px;
    }

    &::after {
      right: 2px;
    }
  }

  &--framed::before,
  &--framed::after {
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    width: 25%;
    height: 1px;
    background-color: #cdcdcd;
  }

  &--inline {
    width: 100%;
    margin-top: 35px;
    text-align: center;
  }
}

.result__heading {
  display: block;

  &--framed {
    position: absolute;
    bottom: -12px;
    left: 50%;
    max-width: 54px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    font-family: $font-primary;
    color: $color-content;
    transform: translate(-50%);
  }

  &--inline {
    display: inline;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    font-family: $font-secondary;
    color: $color-jade;
    text-transform: uppercase;
  }
}

.result__cell {
  display: block;

  &--framed {
    position: absolute;
    top: 10px;
    left: 50%;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    font-family: $font-secondary;
    color: $color-jade;
    text-transform: uppercase;
    white-space: nowrap;
    transform: translate(-50%);
  }

  &--inline {
    display: inline;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    font-family: $font-secondary;
    color: $color-jade;
    text-transform: uppercase;
  }
}

.result__image {
  position: relative;
  align-self: center;
  max-width: 100%;
  min-height: 240px;
  margin-bottom: 20px;
}

.result__before,
.result__after {
  position: absolute;
  top: 0;
  left: 0;
}

.result__before {
  clip: rect(auto 140px auto auto);
}

.result__after {
  top: -3px;
  clip: rect(auto auto auto 140px);
}

.result__сaption {
  display: inline-block;
  align-self: center;
  width: 100%;
  margin: 0;
  margin-bottom: 35px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: $font-secondary;
  vertical-align: middle;
  text-align: center;
  color: $color-jade;
  text-transform: uppercase;
}

.result__progress-bar {
  position: relative;
  display: inline-block;
  width: 84px;
  height: 14px;
  margin-right: 18px;
  margin-left: 10px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 10px;
}

.result__label {
  display: inline;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
  color: $color-jade;
  text-transform: inherit;
  text-decoration: none;
  background: none;
  border: none;
  border-bottom: 1px dotted #b8b8b8;
  cursor: pointer;

  &:hover,
  &:focus {
    border-bottom: 1px solid #b8b8b8;
  }

  &:active {
    border-bottom: none;
  }
}

.result__progress-filler {
  position: absolute;
  top: 3px;
  left: 5px;
  display: block;
  width: 50%;
  height: 6px;
  background-color: $color-salad;
  border-radius: 3px;
  transition: all 0.3s ease;

  &:hover,
  &:focus {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
  }

  &:active {
    border-color: $color-salad;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: $breakpoint-tablet) {
  .result {
    padding-top: 40px;
    padding-bottom: 45px;
    background-color: #ffffff;
    background-image: linear-gradient(to bottom, #ffffff 57%, $color-stone 57%, $color-stone 100%);
  }

  .result__title {
    margin-bottom: 64px;
    padding-top: 0;
    font-size: 60px;
    line-height: 60px;
  }

  .result__description {
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 24px;
  }

  .result__data {
    margin-bottom: 70px;
  }

  .result__content {
    justify-content: flex-start;
  }

  .result__row--framed {
    width: 162px;
    height: 72px;
    margin-right: 42px;

    &::before,
    &::after {
      width: 5%;
    }
  }

  .result__heading--framed {
    bottom: -5px;
    left: 0;
    width: 100%;
    max-width: 100%;
    font-size: 14px;
    line-height: 14px;
    transform: none;
  }

  .result__cell--framed {
    font-size: 30px;
    line-height: 37px;
  }

  .result__row--inline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 180px;
    margin-top: 0;
    margin-left: auto;
    text-align: right;
  }

  .result__heading--inline {
    font-size: 20px;
  }

  .result__cell--inline {
    margin-left: auto;
    font-size: 20px;
  }

  .result__image {
    width: 690px;
    max-width: 100%;
    height: 517px;
    margin-bottom: 7px;
  }

  .result__before,
  .result__after {
    width: 100%;
    height: auto;
  }

  .result__before {
    clip: rect(auto 345px auto auto);
  }

  .result__after {
    top: -6px;
    clip: rect(auto auto auto 345px);
  }

  .result__сaption {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .result__label {
    font-size: 20px;
  }

  .result__progress-bar {
    flex-grow: 0;
    width: 428px;
    height: 6px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: #dcdcdc;
    border: none;
  }

  .result__progress-filler {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 34px;
    height: 34px;
    background-color: #ffffff;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 8px;
      height: 8px;
      background-color: $color-salad;
      border-radius: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  .result {
    padding-top: 0;
    padding-bottom: 38px;
    background-image: linear-gradient(to bottom, #ffffff 23%, $color-stone 23%, $color-stone 100%);
  }

  .result__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .result__wrapper {
    width: 640px;

    &--text {
      width: 440px;
      margin-bottom: 0;
    }
  }

  .result__title {
    margin-bottom: 147px;
  }

  .result__data {
    margin-bottom: 0;
  }

  .result__description {
    margin-bottom: 67px;
  }

  .result__row--inline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 325px;
    margin-top: 60px;
    margin-left: 0;
  }

  .result__heading--inline,
  .result__cell--inline {
    display: inline;
    margin-left: 0;
  }

  .result__image {
    margin-top: -20px;
  }

  .result__before {
    clip: rect(auto 345px auto auto);
  }

  .result__after {
    clip: rect(auto auto auto 345px);
  }

  .result__сaption {
    width: auto;
    padding-left: 73px;
  }
}
