.show-more {
  display: block;
  min-height: 210px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ffffff;
  background-image: url("../img/icon-plus.svg");
  background-repeat: no-repeat;
  background-position: center 25px;
  background-size: 30px 30px;
  border-bottom: 1px solid #ededed;
}

.show-more__container {
  display: block;
  text-align: center;
}

.show-more__title {
  display: block;
  margin-top: 60px;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: $font-secondary;
  color: $color-jade;
  text-transform: uppercase;
  font-style: normal;
}

.show-more__lead {
  display: block;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  font-family: $font-primary;
  color: $color-content;
  font-style: normal;
}

.show-more__link {
  width: 100%;
}

@media (min-width: $breakpoint-tablet) {
  .show-more {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0;
    background: none;
    border: none;
  }

  .show-more__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: auto;
    height: 75%;
    margin: 0;
    padding: 0 38px 40px;
    background-image: url("../img/icon-plus.svg");
    background-repeat: no-repeat;
    background-position: center 55px;
    background-size: 60px 60px;
    border: 1px #e6e6e6 solid;
  }

  .show-more__title {
    width: 168px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 35px;
    margin-left: auto;
    font-size: 20px;
  }

  .show-more__lead {
    width: 168px;
    margin-right: auto;
    margin-bottom: 90px;
    margin-left: auto;
    font-size: 16px;
    text-align: center;
  }

  .show-more__link {
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 16px;
  }
}
