.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 64px;
  padding: 0;
  list-style: none;
  background-color: #f2f2f2;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.social__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-left: 25px;

  &:first-child {
    margin-left: 0;
  }
}

.social__link {
  position: relative; //IE fix
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;

  &::before {
    //IE fix for :active pseudoclass
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
  }

  &--vk {
    width: 22px;
    height: 12px;
  }

  &--ig {
    width: 16px;
    height: 16px;
  }

  &--fb {
    width: 10px;
    height: 19px;
  }

  & svg {
    transition: all 0.3s ease;
  }

  &:hover svg,
  &:focus svg {
    fill: $color-salad;
  }

  &:active svg {
    opacity: 0.3;
  }
}

@media (min-width: $breakpoint-tablet) {
  .social {
    width: auto;
    margin-left: 25px;
    border: none;
  }

  .social__link {
    &--vk {
      width: 30px;
      height: 16px;
    }

    &--vk svg {
      width: 30px;
      height: 16px;
    }

    &--ig {
      width: 23px;
      height: 23px;
    }

    &--ig svg {
      width: 23px;
      height: 23px;
    }

    &--fb {
      width: 14px;
      height: 28px;
    }

    &--fb svg {
      width: 14px;
      height: 28px;
    }
  }
}
