.textarea {
  width: 100%;
  min-height: 150px;
  padding: 14px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-family: $font-secondary;
  color: $color-content;
  text-transform: uppercase;
  font-style: normal;
  border-color: #cdcdcd;
  resize: none;
}

@media (min-width: $breakpoint-tablet) {
  .textarea {
    height: 175px;
    padding-top: 11px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 17px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $breakpoint-desktop) {
  .textarea {
    width: 100%;
  }
}
