//Variables

//Fonts
$font-primary: "Arial", "Helvetica", sans-serif;
$font-secondary: "Oswald", "Arial", "Helvetica", sans-serif;
//Colors
$color-jade: #111111;
$color-salad: #68b738;
$color-stone: #f2f2f2;
$color-content: #444444;
//Breakpoints
$breakpoint-mobile: 767px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1440px;
